{% extends "base.html" %}

{% block content %}

<div class="container">
    <div style="height: 100px;">
        <h3>
            유저 목록
        </h3>
        <table border="1">
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Admin</th>
            </tr>

            {% for u in users %}
            <tr>
                <td>{{ u.id }}</td>
                <td>{{ u.username }}</td>
                <td>{{ u.is_admin }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}