{% extends "base.html" %}

{% block content %}

<div class="container">
    <div style="height: 100px;">
        <h3>
            유저 목록
        </h3>
        <table border="1">
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Admin</th>
            </tr>

            {% for u in users %}
            <tr>
                <td>{{ u.id }}</td>
                <td>{{ u.username }}</td>
                <td>{{ u.is_admin }}</td>
            </tr>
            {% endfor %}
        </table>
        <form method="POST" action="/admin/notice">
            <input type="text" name="text">
            <button type="submit">게시</button>
        </form>

        {% if notice %}
            <p>현재 공지: {{ notice.text }}</p>

            <a href="/admin/notice/delete">공지 삭제</a>
        {% else %}
            <p>공지 없음</p>
        {% endif %}
    </div>
</div>

{% endblock %}
